@font-face{
    font-family: "Cookie Regular";
    src: url("../fonts/shumi.otf")
}
body{
    background: #ffa500;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
div.row{
    width: 100%;
    margin-left: 0;
    margin-right: 0
}
header.header{
    padding-left: 0;
    padding-right: 0;
    position: sticky;
    top: 0;
    z-index: 11
}
.navbar-dark {
    background: #2F2F64 !important
}
.navbar-dark .navbar-brand{
    font: 30px "Cookie Regular";
    color: #ffa500;
}
#navbarSupportedContent{
    justify-content: flex-end;
    flex-grow: 0;

}
ul.navbar-nav{
    margin-right: 0 !important;
}
.nav-item{
    margin: 0 5px;
    font-size: 20px
}
.navbar-dark .navbar-nav .nav-link{
    text-align: right;
    color: white
}
.signUp{
    flex-grow: 1;
    text-align: right;
    font: 22px bold;
    margin-right: 15px;
}
.signUp ul{
    vertical-align: middle
}
.signUp li > a, .signUp a.btn-primary{
    font-size: 20px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.signUp > button{
    border: none;
    vertical-align: top
}
div.languages{
    margin-left: 15px
}
div.languages > form img{
    width: 30px;
    height: 15px
}
div.languages > form{
    margin-bottom: 0
}
div.languages > form > button{
    padding: 0;
    border: none;
    display: inline-block;
    width: auto
}
form[name="logout-form"]{
    margin-bottom: 0;
    padding: 8px
}
form[name="logout-form"] button[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: white
}
form[name="logout-form"] button[type="submit"]:hover{
    color: #CBCBCE;
    cursor: pointer
}
section{
    margin: 0 auto;
    transform: translateY(20%);
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    background: #F2F2F2
}
section p{
    font-size: 20px
}
a.pretty-button, button.pretty-button{
    display: inline-block;
    padding: 10px 25px;
    margin: 5px 15px;
    border-radius: 4px;
    background: blue;
    color: white;
    font-size: 20px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    transition: transform 1s;
    vertical-align: middle;
    border: none
}
a.pretty-button:hover, a.pretty-button:active, a.pretty-button:visited{
    color: white;
    text-decoration: none
}
a.pretty-button:hover, button.pretty-button:hover{
    transform: scale(1.1);
    transition: transform 1s
}
span.correct-percentage{
    text-decoration: underline;
    font-weight: bold
}
div.decorative-img img{
    width: 250px;
}
div.results-container{
    padding-left: 20px
}
div.decorative-img{
    padding-right: 20px
}
div.results-container{
    flex-grow: 1
}
@media (max-width: 768px) {
    section{
        width: 80%;
        margin-top: 10px;
        transform: none
    }
    div.results-container{
        order: 1;
        margin-bottom: 15px
    }
    div.decorative-img{
        order: 2
    }
}