@font-face{
    font-family: "Cookie Regular";
    src: url("../fonts/Cookie Regular.ttf")
}
body{
    background: #F2F2F2
}
.row{
    margin-right: 0;
    margin-left: 0
}
header.header{
    padding-left: 0;
    padding-right: 0;
    position: sticky;
    top: 0;
    z-index: 11
}
.navbar-dark {
    background: #2F2F64 !important
}
.navbar-dark .navbar-brand{
    font: 30px "Cookie Regular";
    color: #ffa500;
}
#navbarSupportedContent{
    justify-content: flex-end;
    flex-grow: 0;

}
.navbar-collapse{

}
.nav-item{
    margin: 0 5px;
    font-size: 20px
}
.navbar-dark .navbar-nav .nav-link{
    text-align: right;
    color: white
}
.signUp{
    flex-grow: 1;
    text-align: right;
    font: 22px bold;
    margin-right: 15px;
}
.signUp > button{
    font-size: 20px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
div.languages{
    margin-left: 15px
}
div.languages > form img{
    width: 30px;
    height: 15px
}
div.languages > form{
    margin-bottom: 0
}
div.languages > form > button{
    padding: 0;
    border: none;
    display: inline-block;
    width: auto
}
.first-section, header.header{
    padding-left: 0;
    padding-right: 0
}
.first-section > div:first-child{
    margin: 100px auto;
    position: relative
}
.first-section > div:first-child > .fox{
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
}
.first-section > div:first-child > .fox > img{
    height: 100%
}
.first-section > div:first-child > div{
    margin-top: 20px
}
.first-section > div:first-child > h1{
    margin-bottom: 35px;
    font-family: "Cookie Regular";
}
.first-section .sign-up-button{
    background: #2F2F64;
    color: #ffa500;
    font-family: "Cookie Regular";
    transition: transform 1s
}
.first-section .sign-up-button:hover{
    transform: scale(1.15);
    transition: transform 1s
}
.owl-nav{
    display: none
}
.owl-dots{
    text-align: center
}
.owl-dots button{
    border: 0;
    outline: 0;
}
.owl-dot span{
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    border-radius: 30px
}
.owl-dot.active span{
    background: grey;
}
.owl-item > div{
    margin: auto;
    width: 70%;
    text-align: center;
    background: orange;
    border-radius: 15px;
    border: 2px solid black
}
.owl-item > div > a{
    color: black;
    text-decoration: none;
    padding: 30px calc(50% - 53px);
    display: inline-block
}
.owl-stage-outer{
    margin: 15px 0
}